# record(bo, "$(P):DO$(DIO_IDX)-Reset") {
#     field(DESC, "Reset")
#     field(OUT, "$(P)$(R_TCA9555)LevelPin$(PIN_IDX)")
# }

record("*", "$(P)$(R_TCA9555)LevelPin$(PIN_IDX)") {
    alias("$(P):DO$(DIO_IDX)-Reset")
    field(DESC, "Reset")
    field(HIGH, "0.5")
}
